<article class="post">
  <header class="post-header home">
    <div class="content-120">Welcome ! </div>
    
    <div class="content-100">
      My name is Andrei Pistirica.<br>
      I enjoy algorithms, math, writing code and drawing in my free time.
    </div>
  </header>

  <div>
    <div class="timeline">Algorithms can be fun...</div>
      <ul>
        The name is inspired from the popular science books: “<b>Mathematics can be Fun</b>” and “<b>Algebra can be Fun</b>”
        written by the science writer <b>Isidorovich Perelman</b>. So, the content is intended to be “fun” in the sense that
        it tries to keep things very simple, but still comprehensive enough.
        
        <br><br>
        Why I am doing this you may ask? Well... because it is fun, it makes me feel better and I think sometimes it is nice to
        go back to the basics and enjoy the little things. I hope you enjoy it as much as I am enjoying writing it. I think all
        these basic algorithms supposed to be fun rather than puzzle people 😊.
        
        <br><br>
        <b>...work in progress...</b>
      </ul>
  </div>

  <hr style="height:1px; border:none; color:#ccc; background-color:#ccc;">

</article>

</div>
