<div class="sidebar-item sidebar-header">
	<div class='sidebar-brand'>
		<a href="/">{{ site.title }}</a>
	</div>

	<hr>

	<p class="lead" >{{ site.description }}</p>
</div>

<div class="sidebar-item sidebar-nav">
	<ul class="nav">
      <li class="nav-title">The basics</li>
	  <li>
		<p> <a class="nav-item-uncomplete" href="/">About</a> </p>
		<p> <a class="nav-item-uncomplete" href="/">Fundamental Concepts</a> </p>
		<p> <a class="nav-item-uncomplete" href="/">Basic Data Structures</a> </p>
		<p> <a class="nav-item-uncomplete" href="/">Basic Design Techniques</a> </p>
		<p> <a class="nav-item-uncomplete" href="/">Sort Algorithms</a> </p>
		<p> <a class="nav-item-uncomplete" href="/">Searching Algorithms</a> </p>
		<p> <a class="nav-item" href="/graph/">Graph</a> </p>
		<p> <a class="nav-item-uncomplete" href="/">Pattern Matching</a> </p>
	  </li>
	</ul>
</div>
