<div class="sidebar-item sidebar-header">
	<div class='sidebar-brand'>
		<a href="/">{{ site.title }}</a>
	</div>

	<hr>

	<p class="lead" >{{ site.description }}</p>
</div>

<div class="sidebar-item sidebar-nav">
	<ul class="nav">
      <li class="nav-title-hi">Algorithms can be fun...</li>
	  <li class="nav-title-low">the basics...</li>
	  <li>
		<p> <a class="nav-item" href="/analysis/">Analysis of algorithms</a> </p>
		<p> <a class="nav-item" href="/data_structures/">Basic data structures</a> </p>
		<p> <a class="nav-item" href="/paradigm/">Algorithmic paradigm</a> </p>
		<p> <a class="nav-item" href="/sort/">Sort</a> </p>
		<p> <a class="nav-item" href="/search/">Search</a> </p>
		<p> <a class="nav-item" href="/graph/">Graphs</a> </p>
		<p> <a class="nav-item" href="/string/">Strings</a> </p>
	  </li>
	</ul>
</div>
